In [1]:
import pickle
import numpy as np
import os
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../input/smart-reply-sentence-similarity-using-annoy/target_similarity_matrix.txt", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21851,21852,21853,21854,21855,21856,21857,21858,21859,21860
0,[0.0,0.624848,0.314564,0.654934,1.294268,1.364455,0.938746,1.383702,1.292668,0.660964,...,1.409477,1.395588,1.390710,1.355762,0.687141,1.349455,1.402012,0.653049,1.311919,0.9562379121780396]
1,[0.6248483657836914,0.000000,0.589709,0.807700,1.285767,1.341164,0.823230,1.350526,1.294159,0.808111,...,1.397494,1.375932,1.362597,0.911160,0.820518,1.339717,1.392230,0.772044,1.281263,0.9735188484191895]
2,[0.31456369161605835,0.589709,0.000000,0.881516,1.287673,1.334015,0.884419,1.362229,1.257278,0.883174,...,1.391326,1.365764,1.355997,1.313436,0.876100,1.329372,1.374006,0.873905,1.239146,0.6768272519111633]
3,[0.6549341082572937,0.807700,0.881516,0.000000,1.284081,1.399736,1.098558,1.410195,1.336739,0.077397,...,1.412715,1.396264,1.409354,1.400940,0.308745,1.346607,1.408358,0.537295,1.407516,1.3937983512878418]
4,[1.2942681312561035,1.285767,1.287673,1.284081,0.000000,1.318497,1.122091,1.295318,0.336642,1.264313,...,0.220967,0.754786,1.246654,1.267452,1.254806,1.265662,1.316441,1.035034,1.274180,1.3418880701065063]

In [3]:
# first and last column data contains [ and ]
df.iloc[:,0]

0                        [0.0
1         [0.6248483657836914
2        [0.31456369161605835
3         [0.6549341082572937
4         [1.2942681312561035
                 ...
21856     [1.3494552373886108
21857     [1.4020123481750488
21858     [0.6530489921569824
21859     [1.3119194507598877
21860     [0.9562379121780396
Name: 0, Length: 21861, dtype: object

In [4]:
df.iloc[:,-1:]

                      21860
0       0.9562379121780396]
1       0.9735188484191895]
2       0.6768272519111633]
3       1.3937983512878418]
4       1.3418880701065063]
...                     ...
21856   1.2391308546066284]
21857   1.2473222017288208]
21858    1.381412148475647]
21859   1.0659825801849365]
21860                  0.0]

[21861 rows x 1 columns]

In [5]:
# cleaning first and last columns
df.iloc[:,0] = df.iloc[:,0].str.replace("[", "").str.strip()
df.iloc[:,-1:] = df.iloc[:,-1].str.replace("]", "").str.strip()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df.iloc[:,0]

0                        0.0
1         0.6248483657836914
2        0.31456369161605835
3         0.6549341082572937
4         1.2942681312561035
                ...
21856     1.3494552373886108
21857     1.4020123481750488
21858     0.6530489921569824
21859     1.3119194507598877
21860     0.9562379121780396
Name: 0, Length: 21861, dtype: object

In [7]:
df.iloc[:,-1:]

                    21860
0      0.9562379121780396
1      0.9735188484191895
2      0.6768272519111633
3      1.3937983512878418
4      1.3418880701065063
...                   ...
21856  1.2391308546066284
21857  1.2473222017288208
21858   1.381412148475647
21859  1.0659825801849365
21860                 0.0

[21861 rows x 1 columns]

In [8]:
# saving the dataframe 
df.to_csv('target_similarity_matrix_float.csv', header=False, index=False)